<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COLLECT</key>
	<dict>
		<key>CLIENT_KEY</key>
		<string>0134e19bc5d779fbf1199fcfad038a35</string>
		<key>CLIENT_SECRET</key>
		<string>76ce22a0b3509b42042b07f4042f4fc69de938949b261f0d7209572f3612ae51</string>
	</dict>
	<key>JUPITER_VM</key>
	<dict>
		<key>CLIENT_KEY</key>
		<string>9944f83bf700273c2894950a2d14dbb0</string>
		<key>CLIENT_SECRET</key>
		<string>45e92fee4839f64e9491e169f7fecf5dcea0cde233e8821324ba3cdf830e79b4</string>
	</dict>
	<key>JUPITER</key>
	<dict>
		<key>CLIENT_KEY</key>
		<string>95414f6a6d103a6f8cb49abb8a16486d</string>
		<key>CLIENT_SECRET</key>
		<string>6dd60d7126823c6862c814f3d2b3c5fbecf8a8a631414130fa308b4c53c88932</string>
	</dict>
	<key>HANA</key>
	<dict>
		<key>CLIENT_KEY</key>
		<string>b8b32d4855c23714788d5e1972df7188</string>
		<key>CLIENT_SECRET</key>
		<string>7fcc7fdff6c400421368aa10b0b50599c97d6c6fcb46dedf927f62789821036b</string>
	</dict>
</dict>
</plist>
